{% extends "band_profile/base.html" %}

{% load static %}
{% block title %} Album {{ album.name }} {% endblock %}
{% block body %}
  <div class="container">
    <div class="media mt-5">
      {% if album.name == "And Their Name Was Treason" %}
        <img src="{% static 'images/andtheirnamewastreason.jpg' %}"  alt="And Their Name Was Treason">
      {% elif album.name == "Homesick" %}
        <img src="{% static 'images/homesick.jpg' %}"  alt="Homesick">
      {% elif album.name == "For Those Who Have Heart" %}
        <img src="{% static 'images/forthosewhohaveheart.jpg' %}"  alt="For Those Who Have Heart">
      {% elif album.name == "What Separates Me From You" %}
        <img src="{% static 'images/ADTR_WSMFY.jpg' %}"  alt="WSMFY">
      {% elif album.name == "Common Courtesy" %}
        <img src="{% static 'images/commoncourtesy.png' %}"  alt="Common Courtesy">
      {% elif album.name == "Bad Vibrations" %}
        <img src="{% static 'images/badvibrations.jpg' %}"  alt="Bad Vibrations">
      {% endif %}

      <div class="media-body ml-3">
          <h2>{{album.name}} ({{album.year}})</h2>
          <ol>
            {% for track in album.track.all %}
            <li>{{track.name}} ({{track.time}})</li>
            {% endfor %}
          </ol>
      </div>
    </div>
  </div>


{% endblock %}