{% extends "band_profile/base.html" %}

{% load static %}
{% block title %} Albums {% endblock %}
{% block body %}

  <div class="container">
    <div class="row justify-content-center">
      <h1 class="albums mt-4">
        ALBUMS
      </h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-mid-4 m-3">
        <a href="{% url 'album' 'and-their-name-was-treason' %}">
            <img src="{% static 'images/andtheirnamewastreason.jpg' %}"  alt="And Their Name Was Treason">
        </a>
          <p>{{ albums.0 }}</p>
      </div>
      <div class="col-mid-4 m-3">
        <a href="{% url 'album' 'for-those-who-have-heart' %}">
          <img src="{% static 'images/forthosewhohaveheart.jpg' %}"  alt="For Those Who Have Heart">
        </a>
          <p>{{ albums.1 }}</p>
      </div>
      <div class="col-mid-4 m-3">
        <a href="{% url 'album' 'homesick' %}">
          <img src="{% static 'images/homesick.jpg' %}"  alt="Homesick">
        </a>
          <p>{{ albums.2 }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-mid-4 m-3">
          <a href="{% url 'album' 'what-separates-me-from-you' %}">
            <img src="{% static 'images/ADTR_WSMFY.jpg' %}"  alt="WSMFY">
          </a>
            <p>{{ albums.3 }}</p>
        </div>
        <div class="col-mid-4 m-3">
          <a href="{% url 'album' 'common-courtesy' %}">
              <img src="{% static 'images/commoncourtesy.png' %}"  alt="Common Courtesy">
          </a>
            <p>{{ albums.4 }}</p>
        </div>
        <div class="col-mid-4 m-3">
          <a href="{% url 'album' 'bad-vibrations' %}">
              <img src="{% static 'images/badvibrations.jpg' %}"  alt="Bad Vibrations">
          </a>
            <p>{{ albums.5 }}</p>
        </div>
      </div>
  </div>
{% endblock %}