{% extends "band_profile/base.html" %}

{% load static %}
{% block title %} ADTR {% endblock %}
{% block body %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class="band-members mt-4">BAND MEMBERS</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2 mr-4 d-flex justify-content-center">
      <div class="overlay-container">
        <a href="{% url 'bio' 'jeremy-mckinnon' %}">
          <img class="rounded profile" src="{% static 'images/jeremy.jpg' %}"  alt="Jeremy McKinnon">
          <div class="overlay">
            <div class="overlay-text">{{ band_members.0.first }} {{ band_members.0.last }}</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2 mr-4 d-flex justify-content-center">
      <div class="overlay-container">
        <a href="{% url 'bio' 'neil-westfall' %}">
          <img class="rounded profile" src="{% static 'images/neil.jpg' %}" alt="Neil Westfall">
          <div class="overlay">
            <div class="overlay-text">
              {{ band_members.1.first }} {{ band_members.1.last }}
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-2 mr-4 col-sm-12 d-flex justify-content-center">
      <div class="overlay-container">
        <a href="{% url 'bio' 'alex-shelnutt' %}">
          <img class="rounded profile " src="{% static 'images/alex.jpg' %}" alt="Alex">
          <div class="overlay">
            <div class="overlay-text">
              {{ band_members.3.first }} {{ band_members.3.last }}
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-2 mr-4 col-sm-12 d-flex justify-content-center">
      <div class="overlay-container">
        <a href="{% url 'bio' 'joshua-woodard' %}">
          <img class="rounded profile" src="{% static 'images/joshua.jpg' %}" alt="Joshua">
          <div class="overlay">
            <div class="overlay-text">
              {{ band_members.2.first }} {{ band_members.2.last }}
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-2 col-sm-12  d-flex justify-content-center">
      <div class="overlay-container">
        <a href="{% url 'bio' 'kevin-skaff' %}">
          <img class="rounded profile" src="{% static 'images/kevin.jpg' %}" alt="Kevin">
          <div class="overlay">
            <div class="overlay-text">
              {{ band_members.4.first }} {{ band_members.4.last }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

  
{% endblock %}